<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID"
         version="4.0"
         metadata-complete="false"

>

  <display-name>Archetype Created Web Application</display-name>


  <!-- 서블릿 설정 -->
  <servlet>
    <servlet-name>ControllerUsingURI</servlet-name>
    <servlet-class>common.controller.ControllerUsingURI</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/property/commandHandlerURI.properties</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ControllerUsingURI</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

<!--  <filter>-->
<!--    <filter-name>LoginCheck</filter-name>-->
<!--    <filter-class>filter.LoginCheckFilter</filter-class>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>LoginCheck</filter-name>-->
<!--    <url-pattern>/member/update.do</url-pattern>-->

<!--  </filter-mapping>-->
<!--  &lt;!&ndash; 로그인을 해야지만 이용할 수 있는 url을 url-pattern에 등록 : 복수개를 사용 가능 &ndash;&gt;-->

<!--  <welcome-file-list>-->
<!--    <welcome-file>index.html</welcome-file>-->
<!--    <welcome-file>index.htm</welcome-file>-->
<!--    <welcome-file>index.jsp</welcome-file>-->
<!--    <welcome-file>default.html</welcome-file>-->
<!--    <welcome-file>default.htm</welcome-file>-->
<!--    <welcome-file>default.jsp</welcome-file>-->
<!--  </welcome-file-list>-->
</web-app>
